<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DealSavePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DealSavePortBinding1" />
                <binding name="Description7cBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://uat-3pa.dmotorworks.com:443/pip-deal/services/DealInsertUpdate"
                binding="basicHttpBinding" bindingConfiguration="DealSavePortBinding"
                contract="DealInsertUpdateServiceRef.DealSave" name="DealSavePort" />
            <endpoint address="http://services.chromedata.com:80/Description/7c"
                binding="basicHttpBinding" bindingConfiguration="Description7cBinding"
                contract="ChromeDataServiceRef.Description7cPortType" name="Description7cPort" />
        </client>

        <diagnostics>
          <!-- log all messages sent/received at the transport/service model level -->
          <messageLogging logEntireMessage="true"
                          maxMessagesToLog="1000"
                          maxSizeOfMessageToLog="69905067"
                          logMessagesAtServiceLevel="true" />
        </diagnostics>
    </system.serviceModel>

    <system.web>
      <webServices>
        <soapExtensionTypes>
          <add type=" SOAPLogger.Extension.SoapLoggerExtension" priority="1" group="0" />
        </soapExtensionTypes>
      </webServices>
    </system.web>

  <system.diagnostics>
    <sources>
      
      <!-- Log all messages in the 'Messages' tab of SvcTraceViewer. -->
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="C:\Users\sudar\Documents\SOAPLogger\SOAPLogger\bin\Debug\cdkxml.log" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>